.slider {
  background: #fef3d4;
  border-radius: 40px;
  margin: 2rem;
}

.image {
  height: 25rem;
}

.header-section {
  padding: 2rem;
  text-align: left;
  display: block;
  font-family: Montserrat;
  font-style: normal;
}

.header-section a {
  background: #fb564c;
  border-radius: 31.5px;
  text-decoration: none;
  color: #fef3d4;
  padding: 0.9rem 2.3rem;
  font-weight: 600;
}

.header-section h2 {
  font-weight: 600;
  font-size: 50px;
  margin-bottom: 2rem;
}

.header-section p {
  font-size: 20px;
  margin-bottom: 2rem;
}
