.slider-grid {
  background: #fef3d4;
  border-radius: 40px;
  margin: 2rem;
  display: grid;
  grid-template-columns: auto auto;
  padding: 3rem 0;
}

.image {
  height: 25rem;
}

.header-section {
  padding: 8rem 2rem;
  text-align: left;
  display: block;
  font-family: Montserrat;
  font-style: normal;
}

.header-section a {
  background: #fb564c;
  border-radius: 31.5px;
  text-decoration: none;
  color: #fef3d4;
  padding: 0.9rem 2.3rem;
  font-weight: 600;
}

.header-section h2 {
  font-weight: 600;
  font-size: 50px;
  margin-bottom: 1rem;
  line-height: 1;
}

.header-section p {
  font-size: 20px;
  margin-bottom: 2rem;
}

.left {
  margin: auto;
}

@media screen and (max-width: 480px) {
  .slider-grid {
    grid-template-columns: auto;
    margin: 1rem;
  }
  .image {
    height: 15rem;
  }
}
