<app-generic-list [list]="products">
    <ng-container content>
        <div *ngFor="let product of products let index = index">
            <div class="product">
                <img src="https://source.unsplash.com/random/?art" alt="Product Image">
                <div class="detail-section">
                    <h3>{{product.name}}</h3>
                    <p>₦{{product.price}}</p>
                    <a href="#">Buy Now</a>
                </div>
            </div>
        </div>
    </ng-container>
</app-generic-list>