<mat-card>
    <mat-card-title>Simple card</mat-card-title>
    <img src="https://source.unsplash.com/random/200x200/?music" alt="Product Image" mat-card-image>
    <mat-card-content> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab cupiditate odio, obcaecati
        recusandae, repudiandae, sunt ratione distinctio neque culpa magnam laborum sed iste officiis eveniet?
    </mat-card-content>
    <mat-card-actions>
        <a mat-button>
            <mat-icon>plus</mat-icon> Add To Cart
        </a>
    </mat-card-actions>
</mat-card>